* {
    font-family: var(--fuente1);
}
.nav {
    background-color: var(--color5);
}

.main {
    margin: 0 auto;
    height: 1500px;
}
.main__box {
    margin: 2rem 0;
    text-align: center;
    width: 290px;
}
.main__span {
    text-align: start;
}
.main__img {
    width: 100%;
    height: 100%;
    background-image: url(img/teemu-paananen-bzdhc5b3Bxs-unsplash.jpg);
    background-size: cover;
    background-position: center bottom;
}

@media(min-width:768px) {
    .main__text {
        font-size: 1.1rem;
    }
    .main__box {
        margin: 2rem 0;
        width: 490px;
    }
}

@media(min-width:1024px) {
    .main {
        width: 100vw;
        height: 1200px;
        padding: 0;
    }
    .main__text {
        font-size: 1.3rem;
        padding-top: 4rem;
    }
    .main__box {
        margin:0;
        width: 70vw;
    }
    .main__img {
        width: 100vw;
    }
}

@media(min-width:1440px) {
    .main {
        width: 100vw;
        height: 1200px;
        padding: 0;
        display: flex; 
        flex-direction: column;
    }
    .main__text {
        padding-top: 4rem;
    }
    .main__box {
        margin:0;
        width: 70vw;
    }
    .main__img {
        width: 100%;
        height: 100%;
    }
}

@media(min-width:2000px) {
    .main__text {
        font-size: 1.6rem;
    }
}